<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Link to TailwindCSS main css file, in the future href will change to {{url_for('static', filename='css/main.css')}} -->
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- <script src="../dist/bundle.js"></script> -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</head>
<style>
</style>
<body class="*:m-0 *:p-0 *:box-border">
    <div class="relative w-full h-[100vh] bg-gradient-to-t from-cyan-200 from-0% via-cyan-50 via-70% to-white to-100%">
        <!--Begin header-->
        <div class="p-3">
            <div class="border-2 rounded-xl border-accent-red">
                <div class="flex justify-between items-center">
                    <div class="flex justify-evenly items-center p-2 gap-2">

                        <div id="dropMenuClick" class="headbar-button overflow-hidden" isOpen="false">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                    d="M5 7h14M5 12h14M5 17h14" />
                            </svg>
                        </div>

                        <div class="flex flex-col justify-center items-start">
                            <div>JakeClark Proj</div>
                            <div>List: 99%</div>
                        </div>

                    </div>
                    <div class="flex justify-end items-center p-2 gap-2">
                        <div class="headbar-button">
                            <img class=""
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAsTAAALEwEAmpwYAAABJklEQVR4nO2YQUrEQBBFX+eWYsZruC1dudBZKQh6kzmSK/UAJUItQpjOrHrodP0HBQkJpOt3VX06IIQQQgghxLUpwC1wE9epKMAb4BGfwETS5D2TCKWSfAoRyoXkhxahAO+rRL8q1x7vlpF3/gN4WNwb8DpiJZRK8lMkvRSgjCjCy0ZprwWotcqRHfO70dfnBDgnwjc75hH4iUpYD7WaAMS7zyHg+tkw2IYAKTAJgCrA1QJoBriGIHIBIyEmF0Au4HIB5AIuF0AuYCTEsrvAYSHATEKmSHze+4/PNExRtodOd6z5+u4WPfv/kd5ovj7rfGo3X59JAFQBrhZAM8A1BJELGMlt8ATcdxanawrgnYe1Pr565zG3PL4+dR46XgshhBBCCC7zB9eCREG4l8/PAAAAAElFTkSuQmCC">
                        </div>
                        <div class="headbar-button">
                            <img
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAPElEQVR4nGNgGAWjYBQMT+DNwMDwhIGB4TEDA4MnBeI4AUjhfyh+RIH4wFngCdUEUuxBgfgoGAWjYNgAAIMDJKaeed9aAAAAAElFTkSuQmCC">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End header-->
        <!-- Main List -->
        <div id="controls-carousel" class="relative w-full" data-carousel="static">
            <!-- Header -->
            <div class="relative">
                <div id="carousel-title" class="flex justify-center items-end w-[100%] text-center align-bottom h-[40px]">
                    Do
                </div>
                <hr id="carousel-hr" class="bg-primary-red w-[120%] h-1  border-none">
            </div>
            <!-- Carousel wrapper -->
            <div id="carousel-wrapper" class="relative h-[50vh] mt-[3vh] overflow-hidden">
                 <!-- Item 1 -->
                
                <div id="carousel-item-1" class="hidden ease-in-out duration-700 pink task-container border-primary-red" data-carousel-item="active">
                    <!-- Contents -->
                    <div class="task-content-container border-primary-red">
                        <div>
                            <p class="font-semibold text-[3.01vh] text-wrap leading-none">Làm roadmap lập trình mạng</p>
                            <p>11pm, today</p>
                        </div>
                        <div class="bg-primary-red w-[4vh] h-[4vh] flex-none rounded-lg shadow-lg">
                            <img src="../static/images/tick_icon.png" alt="tick_icon" class="hidden">
                        </div>
                    </div>
                </div>
                <!-- Item 2 -->
                <div id="carousel-item-2" class="hidden ease-in-out duration-700 green task-container border-primary-green" data-carousel-item>
                    <!-- Contents -->
                    <div class="task-content-container border-primary-green">
                        <div>
                            <p class="font-semibold text-[3.01vh] text-wrap leading-none">Làm roadmap lập trình mạng</p>
                            <p>11pm, today</p>
                        </div>
                        <div class="bg-primary-red w-[4vh] h-[4vh] flex-none rounded-lg shadow-lg">
                            <img src="../static/images/tick_icon.png" alt="tick_icon" class="hidden">
                        </div>
                    </div>
                </div>
                <!-- Item 3 -->
                <div id="carousel-item-3" class="hidden ease-in-out duration-700 blue task-container border-primary-blue" data-carousel-item>
                    <!-- Contents -->
                    <div class="task-content-container border-primary-blue">
                        <div>
                            <p class="font-semibold text-[3.01vh] text-wrap leading-none">Làm roadmap lập trình mạng</p>
                            <p>11pm, today</p>
                        </div>
                        <div class="bg-primary-red w-[4vh] h-[4vh] flex-none rounded-lg shadow-lg">
                            <img src="../static/images/tick_icon.png" alt="tick_icon" class="hidden">
                        </div>
                    </div>
                </div>
                <!-- Item 4 -->
                <div id="carousel-item-4" class="hidden ease-in-out duration-700 yellow task-container border-primary-yellow" data-carousel-item>
                    <!-- Contents -->
                    <div class="task-content-container border-primary-yellow">
                        <div>
                            <p class="font-semibold text-[3.01vh] text-wrap leading-none">Làm roadmap lập trình mạng</p>
                            <p>11pm, today</p>
                        </div>
                        <div class="bg-primary-red w-[4vh] h-[4vh] flex-none rounded-lg shadow-lg">
                            <img src="../static/images/tick_icon.png" alt="tick_icon" class="hidden">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider indicators -->
            <div class="absolute z-30 flex -translate-x-1/2 translate-y-[7vh] bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
            </div>
            <!-- Slider controls -->
            <button type="button" class="absolute top-0 start-0 z-30 flex items-start justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800/30 group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                    </svg>
                    <span class="sr-only">Previous</span>
                </span>
            </button>
            <button type="button" class="absolute top-0 end-0 z-30 flex items-start justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800/30 group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-gray-800/70 group-focus:outline-none">
                    <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                    <span class="sr-only">Next</span>
                </span>
            </button>
        </div>
        <!-- <div class="navigation-bottom flex justify-evenly items-end fixed bottom-3 inset-x-0">
            <div class="left-button h-10 w-10 flex justify-center items-center md:h-16 md:w-16">
                <img class="h-8 w-8 md:h-14 md:w-14" alt="leaf" src="../static/images/calendar_icon.png" />
            </div>
            <div class="main-button h-16 w-16 bg-background-main border-primary-red border-[3px] rounded-md shadow-2xl flex justify-center items-center mb-[2vh] md:h-24 md:w-24">
                <img class="h-12 w-12 md:h-20 md:w-20" alt="plus" src="../static/images/add_icon.png" />
            </div>
            <div class="right-button h-10 w-10  flex justify-center items-center md:h-16 md:w-16">
                <img class="h-8 w-8 md:h-14 md:w-14" alt="leaf" src="../static/images/leaf_icon.png" />
            </div>
        </div> -->


        <div id="add-button" class="z-50 relative">
            <!-- modal-->
            <!-- add question action button here-->
            <div class=" wrapper flex  flex-col justify-center items-center  h-[15vh] w-[90%] mx-auto ">
                <div id="a0002" class="relative content flex h-[70%]">
                    <button id="moveButton" class=" absolute border-2 rounded-full w-full h-full bg-white text-[25px] ">+</button>
                </div>
            </div>
            <!-- kết thúc phần nút -->
            <!-- modal-->
            
            <div id="modal-container" class=" fixed  top-0 left-0 h-[100vh] w-[100%] opacity-0 pointer-events-none  " >
                <div id="modal" class=" absolute border-2 rounded-2xl shadow-xl left-[50%] translate-x-[-50%] top-[5vh] h-[90vh] w-[90%] md:w-[40%] bg-white ">
                    <div class="flex justify-between border-b-2 px-[13px] py-[13px]  ">
                        <div><h2>Create Task</h2></div>
                        <div><button id="close-bt">X</button></div>
                    </div>
                    <div class="h-[15px]"></div>
                    <div class="wrapper flex flex-col  items-center h-[40%] w-full ">
                        <div class="content w-[90%] h-[20%]"><input type="text" class="text-center border-2 border-black rounded-lg  w-full h-full text-[1rem]" placeholder="Task Input Here"></div>
                        <div class="h-[15px]"></div>
                        <div class="content w-[90%] h-[60%]"><input type="text" class="text-center border-2 border-black rounded-lg  w-full h-full text-[1rem]" placeholder="Description Input here"></div>
                    </div>
                    <div class="wrapper flex flex-col h-[15%] w-full">
                        <div class="content w-full pl-[5%]"> Tags </div>
                        <div class="h-[5px]"></div>
                        <div class="content flex flex-col items-center w-full h-[70%]"><input type="text" class="text-center border-2 border-black rounded-lg  w-[90%] h-[90%] text-[1rem]" placeholder="Add Name Tags"></div>
                    </div>

                    <div class="wrapper flex justify-around items-center h-[10%] w-full">
                        <div class="content h-[70%] w-[20%] "><button class=" border-[1px] border-black rounded-2xl h-full w-full">Submit</button></div>
                        <div class="content h-[70%] w-[20%] "><button id="cancle-bt" class="border-[1px] border-black rounded-2xl h-full w-full ">Cancel</button></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- phần java thêm cho đỡ mệt -->
    <script src="../static/js/action.js"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>